[Desktop Entry]
Version=1.0
Name=Mail

GenericName=Mail Client
Comment=Launches Neovim with the notmuch.nvim plugin
Keywords=Email,Mail,IMAP,SMTP
Categories=Office;Network;Email;ConsoleOnly

Type=Application
Icon=mail
Terminal=true
Exec=nvim -c "lua require('notmuch.send').compose(string.sub( %u, 8, -1))"
MimeType=x-scheme-handler/mailto
