[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=spotify-client
TryExec=spotify
Exec=sh -c 'HOME="${XDG_CACHE_HOME:-$HOME/.cache}/spotify/spotify-pki" exec spotify --uri=%u'
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
