:root {
	--sidebar-background-color: #1f1f28 !important;
	--sidebar-border-color: #54546d !important;
}

/* hide webpage loading notifications in the bottom left corner */
#statuspanel[type="status"] {
	opacity: 0 !important;
}

/* hide all scrollbars */
* {
	scrollbar-width: none !important;
}

/* remove the border around the ui */
#tabbrowser-tabbox {
	outline: none !important;
	box-shadow: none !important;
}

/* Roundness of webcontent */
:root:not([sizemode="fullscreen"]) .browserStack > browser {
	clip-path: inset(0 round 10px 0 0 0);
}

/* browser background */
.browserContainer,
.browserStack,
#browser,
#nav-bar {
	background-color: #1f1f28 !important;
}

/* hide stuff */
.titlebar-button,
.buttons-wrapper,
#sidebar-tools-and-extensions-splitter,
.urlbarView-row::before {
	display: none !important;
}

/* tab groups */
.tab-group-label {
	color: #1f1f28 !important; /* text color */
	background-color: light-dark(
		var(--tab-group-color),
		var(--tab-group-color-invert)
	) !important;
	tab-group[collapsed] > .tab-group-label-container > & {
		/* when collapsed */
		background-color: light-dark(
			var(--tab-group-color),
			var(--tab-group-color-invert)
		) !important; /* same bg */
		outline: 0px !important; /* remove hideous border */
	}
}
