/* hide things on firefox home page */
@-moz-document url("about:newtab"), url("about:home") {
	.wallpaper-attribution,
	.logo,
	.wordmark,
	.personalizeButtonWrapper,
	img[role="presentation"] {
		display: none !important;
	}
}

/* hide promotional content on AoPS */
@-moz-document domain("artofproblemsolving.com") {
	.infobar {
		display: none !important;
		visibility: hidden !important;
	}
}

/* hide "Only you can see your full profile" on github */
@-moz-document domain("github.com") {
	.flash.mt-4 {
		display: none !important;
		visibility: hidden !important;
	}
}

/* hide cp-algorithms donation banner */
@-moz-document domain("cp-algorithms.com") {
	#donation-banner {
		display: none !important;
	}
}
