/* hide things on firefox home page */
@-moz-document url("about:newtab"), url("about:home") {
	.wallpaper-attribution,
	.logo,
	.wordmark,
	.personalizeButtonWrapper,
	img[role="presentation"] {
		display: none !important;
	}
}

/* hide promotional content on AoPS */
@-moz-document domain("artofproblemsolving.com") {
	.infobar {
		display: none !important;
		visibility: hidden !important;
	}
}

/* hide "Only you can see your full profile" on github */
@-moz-document domain("github.com") {
	.tmp-mt-4.flash {
		display: none !important;
		visibility: hidden !important;
	}
}

/* hide cp-algorithms donation banner */
@-moz-document domain("cp-algorithms.com") {
	#donation-banner {
		display: none !important;
	}
}

/* hide things wanting to make you create an account on Twitter */
@-moz-document domain("x.com") {
	aside.fixed.bottom-0.isolate.z-40,
	button.border-normal.shadow-popup.bg-modal,
	div.fixed.inset-x-0.bottom-0.bg-gray-1100 {
		display: none !important;
	}
}

/* hide youtube logo */
@-moz-document domain("youtube.com") {
	#logo-icon {
		display: none !important;
	}
}
